.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar-home {
    font-size: 15px;
}

.pattern-home {
    font-size: 17px;
}

.navbar-myshare {
    padding-left: 30px;
}


#delete-form {
    display: inline;
}

